<div class="w-75 m-auto py-5">

    <form [formGroup] = 'loginForm' (ngSubmit)="loginSubmit(loginForm)">
        
        <div class="form-group">
            <label for="email">E-mail</label>
            <input formControlName="email" class="form-control" type="text" id="email">
            <div *ngIf="loginForm.get('email')?.errors!=null && loginForm.get('email')?.touched" class="alert alert-danger my-3">
                <p *ngIf="loginForm.get('email')?.errors?.['required']"> email is required</p>
                <p *ngIf="loginForm.get('email')?.errors?.['email']"> email is not valid</p>
            </div>
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input formControlName="password" class="form-control" type="password" id="Password">
            <div *ngIf="loginForm.get('password')?.errors!=null && loginForm.get('password')?.touched" class="alert alert-danger my-3">
                <p *ngIf="loginForm.get('password')?.errors?.['pattern']"> password is required</p>
            </div>
        </div>
        <button [disabled]= "loginForm.invalid" class="btn btn-info my-5" type="submit">Login</button>
    </form>
</div>