
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
$bgColor:#131722;
$lightBgColor:#24baef;
$bgTransparent:rgba(26,186,239,.6);
$fontColor:#fff;
$borderColor:#a8a8a83d;
$borderHeight:1px;
$secondFontColor:#949cb0;

body 
{
    font-family: 'Montserrat Alternates', sans-serif;
    // font-family: ;
    background-color: $bgColor;
    color: $fontColor;
}

.navbar-nav a 
{
    font-size: 18px;
    color: $fontColor;
    text-decoration: none;
}

.navbar-nav a:hover { 
    font-size: 18px;
    color: $fontColor;
    text-decoration: none;
}